body {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
}

#newSong{
    width: 60%
}

#switchesWrapper {
    text-align: center;
}

#switches {
    display: inline-block;
}
