<div class="container" ng-controller="RemarkCtrl">
	<div class="row">
		<div class="col-md-12">
			<h3>Edit <i>{{remark.song.artist}} - {{remark.song.title}}</i>
			</h3>
		</div>
	</div>
	<form class="form-horizontal" role="form" name="myForm">
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Commentary</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="commentary" id="commentary" ng-model="remark.commentary" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="youtube" class="col-sm-2 control-label">Youtube</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="youtubeRemark" id="youtubeRemark" ng-model="remark.youtube" readonly>
			</div>
		</div>
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Background</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" name="backgroundRemark" id="backgroundRemark" ng-model="remark.background" readonly></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Response</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" name="response" id="response" ng-model="remark.response" required></textarea>
				<span ng-show="myForm.commentary.$error.required" class="help-inline">
				Verplicht</span>
			</div>
		</div>
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">Status</label>
			<div class="col-sm-10">
				<select class="form-control" id="status" ng-model="remark.status">
					<option>New</option>
					<option>In progress</option>
					<option>Finished</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="commentary" class="col-sm-2 control-label">Songtitle</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="title" id="title" ng-model="song.title" required>
				<span ng-show="myForm.commentary.$error.required" class="help-inline">
				Verplicht</span>
			</div>
			<label for="commentary" class="col-sm-2 control-label">Artist</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="artist" id="artist" ng-model="song.artist" required>
				<span ng-show="myForm.commentary.$error.required" class="help-inline">
				Verplicht</span>
			</div>
			<label for="commentary" class="col-sm-2 control-label">Youtube</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="youtube" id="youtube" ng-model="song.youtube">
			</div>
			<label for="commentary" class="col-sm-2 control-label">Background</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="5" name="background" id="background" ng-model="song.background"></textarea>
				<h4>Output:</h4>
                <p ng-bind-html="backgroundHTML"></p>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label"></label>
			<div class="col-sm-10">
				<button type="button" ng-click="save()" ng-disabled="myForm.$invalid" class="btn btn-primary">Save</button>
				<a href="#/remarks" class="btn btn-primary">Cancel</a>
			</div>
		</div>
	</form>
</div>