<div class="container jumbotron" ng-controller="VisitCtrl">
    <div class="row text-center">
        <div class="col-md-12">
            <h3>Details of <i> Visit at {{visit.dateInserted | date:'dd-MM-yyyy HH:mm:ss'}}</i>
            </h3>
            <table class="table table-striped">
                <tr>
                    <td>IP Address</td>
                    <td>{{visit.ipAddress}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{visit.city}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{visit.country}}</td>
                </tr>
                <tr>
                    <td>Browser</td>
                    <td>{{visit.browser}}</td>
                </tr>
                <tr>
                    <td>Operating system</td>
                    <td>{{visit.operatingSystem}}</td>
                </tr>
                <tr>
                    <td>Useragent</td>
                    <td>{{visit.userAgent}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-if="visit.searchInstructions.length > 0">
        <div class="col-md-12">
            <h2>Searches</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>IP address</th>
                        <th>Argument</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="search in visit.searchInstructions">
                        <td><a href="#/search/{{search.id}}" class="thumb">{{search.ipAddress}}</a></td>
                        <td>{{search.argument}}</td>
                        <td>{{search.dateInserted | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>