body {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
}

.songsFilter {
    text-align: center;
    display: inline-block;
}

.songsList {
    text-align: center;
    display: inline-block;
}

.songItem {
    display: inline;
}