* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */
}

nav {
  width: 100vw;
  background-color: rgb(243, 116, 12);
}

nav ul {
  display: flex;
}

nav li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 2vw;
  font-family: monospace;
}

nav a:hover {
  background-color: #C6E9FF;
}

nav button {
  display: none;
}

@media only screen and (max-width: 500px) {
  /*shows elements in a column*/
  nav ul {
    flex-direction: column;
  }
  /* deletes margin on top or bottom of the a tag*/
  nav li {
    margin: 0;
  }

  .menuLink-hidden {
    display: none;
  }

  /* makes sure that the a tag will take the entire screen*/
  nav a {
    display: block;
  }
  nav button {
    /*makes the button visible*/
    display: block;
    /*since we are here, we can style it a little bit!*/
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    /*outline none removes the default blue border that appears anytime you click on the button*/
    outline: none;
    cursor: pointer;

    align-self: flex-start;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login p {
  text-align: right;
  padding: 0 1% 0 0;
}